.slick-arrow {
  z-index: 1000;
}

.slick-prev {
  width: 30px;
  height: 0;
  left: 12px !important;
  padding-left: 30px !important;
  transition: .2s;
  &:before {
    content: url(../../assets/backarrow.png) !important;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.slick-next {
  width: 30px;
  height: 0;
  right: 12px !important;
  padding-right: 85px !important;
  transition: .2s;
  &:before {
    content: url(../../assets/nextarrow.png) !important;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.side-bar {
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 10vh;
  transition: 0.5s;
  width: 30vw;
  z-index: 1;

  .bar-1 {
    height: 8vh;
    span {
      position: absolute;
      top: 1.5vh;
      right: 5%;
      transition: .2s;
      svg {
        height: 5vh;
        width: 4vh;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .bar-2 {
    height: 40vh;
    border-bottom: 1px solid #DDD3D3
  }

  .bar-3 {
    height: 42vh;

    .cards {
      display: flex;
    }


    .side-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: linear-gradient(90deg, #A643F4 0%, rgba(249, 89, 166, 0.9) 100%);
      height: 50px;
      width: 70%;
      color: white;
      border-radius: 30px;
      transition: .2s;

      &:hover {
        transform: scale(1.03);
        cursor: pointer;
      }

      &:after {
        position: absolute;
        z-index: -1 !important;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: linear-gradient(90deg, #A643F4 0%, rgba(249, 89, 166, 0.9) 100%);
        box-shadow: inset 0 0 2px 2px white;
        content: '';
      }
    }
  }
}