.home-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/hbg.png');
  background-size: cover;

  overflow: hidden;

  .content {
    padding: 5vw;
    height: 100vh;
    width: 50vw;
    padding-bottom: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      line-height: 35px;
      font-size: 3.5rem;
      font-weight: 600;
    }

    p {
      padding: 2.5vh 0vh;
    }
  }

  .credits {
    position: absolute;
    bottom: 1%;
    left: 5%;
  }

  .buttons {
    justify-content: space-between;
    font-weight: 600;
    .play1 {
      background-color: #2c4677;
      color: white;
      font-weight: 600;
      width: 175px;
      height: 50px;
      font-size: 18px;
      margin-right: 33px;
      border-radius: 30%/100%;
    }
    .play {
      width: 175px;
      height: 50px;
      border-radius: 30%/100%;
      font-weight: 4  00;
      font-size: 18px;
      border-color: none !important;
    }
  }

  .iphone {
    position: absolute;
    width: 600px;
    right: 9%;
    top: 7.5%;
  }
  .homenav {
    display: flex;
    height: 5vh;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      font-size: 2.3rem;
      padding: 10px 30px;
    }

    .links {
      display: flex;
      h4 {
        font-size: 1.2rem;
        padding: 30px 40px;
        font-weight: 400;
      }
    }

    .signin {
      margin: 30px 40px;
      background-color: rgba(255, 255, 255, 0.2);
      width: 125px;
      color: white;
      font-weight: 600;
      border-radius: 30%/100%;
    }
  }
}
