.ant-modal-body {
  padding: 0;
}

.vision-modal {
  height: 70vh;

  .header {
    padding-left: 8vw;
  }

  video {
    object-fit: cover;
  }

  .canvas-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15vh;
    left: 8vw;
    width: 25vw;
    height: 25vw;
    z-index: 8;
    overflow: hidden;
    text-align: center;

    canvas {
      width: 44.44vw;
      height: 25vw;
    }
  }

  .camera {
    position: absolute;
    top: 15vh;
    left: 8vw;
    width: 25vw;
    height: 25vw;
    margin-right: 2vw;
    border-radius: 10px;
    display: inline-block;
  }

  .screenshot {
    position: absolute;
    top: 15vh;
    left: 8vw;
    width: 25vw;
    height: 25vw;
    z-index: 6;
    object-fit: cover;
    border-radius: 10px;
    display: inline-block;
  }

  .item-list {
    top: 15vh;
    position: absolute;
    left: 37vw;
    display: inline-block;
    width: 25vw;
    height: 25vw;

    .line {
      width: 100%;
      height: 3px;
      background-color: #A643F4;
    }

    .confirm-button {
      color: white;
      border-radius: 30px;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      height: 40px;
      background: linear-gradient(90deg, #A643F4 0%, rgba(249, 89, 166, 0.9) 100%);
    }
  }
}