.card {
  border: 2.08621px solid #DDD3D3;
  padding: 10px 7.5px;
  border-radius: 10%;
  display: grid;
  place-items: center;
  h3 {
    margin-bottom: 0;
  }
  .itemsneeded {
    text-align: center;
  }
}